[Desktop Entry]
Type=Application
Exec=lxi-tools.lxi-gui
Name=LXI Tools
Comment=Tools for managing LXI compatible instruments
Terminal=false
Icon=${SNAP}/meta/gui/lxi-tools_256x256.png
